# ============ BACKEND (Laravel) ============
/catatan_mahasiswa_backend/vendor/
/catatan_mahasiswa_backend/.env
/catatan_mahasiswa_backend/storage/*.key
/catatan_mahasiswa_backend/public/storage
/catatan_mahasiswa_backend/.idea/
/catatan_mahasiswa_backend/.vscode/
/catatan_mahasiswa_backend/node_modules/
/catatan_mahasiswa_backend/storage/logs/*.log
/catatan_mahasiswa_backend/.phpunit.result.cache

# ============ FRONTEND (Flutter) ============
/catatan_mahasiswa_flutter/build/
/catatan_mahasiswa_flutter/.dart_tool/
/catatan_mahasiswa_flutter/.pub/
/catatan_mahasiswa_flutter/.flutter-plugins
/catatan_mahasiswa_flutter/.flutter-plugins-dependencies
/catatan_mahasiswa_flutter/ios/Pods/
/catatan_mahasiswa_flutter/ios/.symlinks/
/catatan_mahasiswa_flutter/android/.gradle/
/catatan_mahasiswa_flutter/android/.idea/
/catatan_mahasiswa_flutter/android/local.properties
/catatan_mahasiswa_flutter/pubspec.lock
/catatan_mahasiswa_flutter/.vscode/

# ============ UMUM ============
.DS_Store
*.log
*.tmp
Thumbs.db
*.swp
*.swo